a:active {
text-decoration: none;
}
a:focus {
text-decoration: none;
}
.order-type-div {
display:flex;
align-items:center;
justify-content:center;
padding:5px;
}
.order-type-div div {
flex:1;
text-align:center;
align-items:center;
justify-content:center;
}
.order-type-div div a{
display:flex;
height:30px;
align-items:center;
justify-content:center;
margin:0 5px;
}
.order-div-line {
margin:10px;
border:1px solid 	#C0C0C0;
border-radius: 10px;
}
.order-div-line-header {
padding:5px 10px;
}
.order-div-line-body {
padding:5px 10px;
}
.order-div-line-foot {
padding:5px 10px;
display:flex;
}
.order-div-line-foot div{
flex:1;
}

.order-div-line-body &gt; div &gt; div{
height:32px;
}
.sub-butn{
font-family: 'PingFang SC';
display: flex;
width:68px;
flex-direction: row;
justify-content: center;
align-items: center;
background: #E3170D;
box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px rgba(16, 24, 40, 0.05);
border:none;
padding: 4px 10px;
border-radius: 20px;
color: white;
outline:none;
boder:none;
margin:0 10px 0 0;
}
.sub-butn:focus {
  border:none;
  outline:none;
}
#return-shipment-form {
    display:none;
}
#return-shipment-street {
width:300px;
height:260px;
background:white;
border:1px solid 	#C0C0C0;
position:fixed;
z-index:1;
top:0;
left:0;
bottom:0;
right:0;
margin:auto;
border-radius:20px;
padding:10px;
}
#return-shipment-street >  div:first-child {
height:50px;
font-size:24px;
text-align:center;
}
#return-shipment-street >  div:nth-child(2) > div{
height:50px;
display:flex;
align-items:center;
}
#return-shipment-street >  div:nth-child(2) > div > lable{
width:40%;
}
#return-shipment-street >  div:nth-child(2) > div > input{
height:25px;
width:60%;
border:none;
border-bottom:1px solid #C0C0C0;
}
#return-shipment-street >  div:nth-child(2) > div > input:focus{
outline:none;
border:none;
border-bottom:1px solid #C0C0C0;
}

#point-payment-form {
    display:none;
}
.point-payment-detail {
    width:300px;
    height:180px;
    background:white;
    border:1px solid 	#C0C0C0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    border-radius:20px;
    padding:10px;
}
.point-payment-detail >  div:first-child {
    height:50px;
    font-size:24px;
    text-align:center;
    position:relative;
}
.clear-x {
    position:absolute;
    right:0;
    top:-10px;
    font-size:20px;
    padding:0;
    display:inline-block;
    cursor:pointer;
}

.point-payment-detail >  div:nth-child(2){
    height:80px;
}

.point-payment-detail >  div:nth-child(3) {
    display:flex;
    justify-content:center;
    text-align:center;
}
.point-payment-detail >  div:nth-child(3) > button{
    flex:1;
    margin: 0 5px;
}

.deduction-balance {
    color: red;
}

.not-balance {
    font-family: 'PingFang SC';
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #C0C0C0;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px rgba(16, 24, 40, 0.05);
    border:none;
    padding: 4px 10px;
    border-radius: 20px;
    color: white;
    outline:none;
    boder:none;
    margin:0 10px 0 0;
    display:none;
    pointer-events: none;
}