<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="root_menu_shipping_bills" name="物流订单"/>
<!--运单-->
    <menuitem id="menu_shipping_bills" name="物流订单" parent="root_menu_shipping_bills"
              action="action_shipping_bill" sequence="1"/>
<!--看板-->
    <menuitem id="root_menu_shipping_bills_kanban" name="运单看板" action="action_shipping_bill_kanban"
              parent="root_menu_shipping_bills" sequence="2"/>
<!--操作看板-->
    <menuitem id="root_menu_operational_kanban_board" name="操作看板"
              parent="root_menu_shipping_bills" sequence="3"/>
<!--手动操作-->
    <menuitem id="root_menu_manual_operation" name="手动操作"
              parent="root_menu_shipping_bills" sequence="4"/>

    <menuitem id="menu_shipping_large_parcel" name="大包裹"  parent="root_menu_manual_operation"
              action="action_shipping_large_parcel" sequence="2"/>
<!--无头件-->
    <menuitem id="menu_shipping_bills_head_less_piece" name="无头件"
              parent="root_menu_shipping_bills" sequence="5"/>
<!--订单查询-->
    <menuitem id="menu_shipping_bills_order_inquiry" name="订单查询"
              parent="root_menu_shipping_bills" sequence="6"/>

    <menuitem id="menu_shipping_bills_out" name="订单(待出库)" parent="menu_shipping_bills_order_inquiry"
          action="action_shipping_bill_out" sequence="1"/>

    <menuitem id="menu_shipping_bills_arrived" name="订单(站点)" parent="menu_shipping_bills_order_inquiry"
              action="action_shipping_bill_arrived" sequence="2"/>

    <menuitem id="menu_shipping_bills_signed" name="订单(签收)" parent="menu_shipping_bills_order_inquiry"
              action="action_shipping_bill_signed" sequence="3"/>
<!--基本配置-->
    <menuitem id="menu_shipping_bills_config" name="基本配置"
              parent="root_menu_shipping_bills" sequence="7"/>

    <menuitem id="menu_shipping_factor" name="运费参数" parent="menu_shipping_bills_config"
        action="action_shipping_factor" sequence="1"/>

    <menuitem id="menu_shipping_state" name="阶段"  parent="menu_shipping_bills_config"
          action="action_shipping_state" sequence="2"/>

    <menuitem id="menu_shipping_site_list" name="站点列表"  parent="menu_shipping_bills_config"
          action="sales_team.crm_team_action_config" sequence="3"/>

<!--sale运费参数-->
    <menuitem id="menu_shipping_factor_sale" name="运费参数" parent="sale.menu_sale_general_settings"
        action="action_shipping_factor" sequence="3"/>





<!--    <menuitem id="menu_shipping_factor" name="运费参数" parent="sale.menu_sale_general_settings"-->
<!--        action="action_shipping_factor" sequence="3"/>-->

<!--    <menuitem id="root_menu_shipping_bills" name="物流订单"/>-->

<!--    <menuitem id="root_menu_shipping_bills_kanban" name="运单看板" action="action_shipping_bill_kanban"/>-->

<!--    <menuitem id="parent_menu_shipping_bills" name="物流订单" parent="root_menu_shipping_bills"/>-->



<!--    <menuitem id="menu_shipping_bills_out" name="订单(待出库)" parent="root_menu_shipping_bills"-->
<!--              action="action_shipping_bill_out" sequence="20"/>-->

<!--    <menuitem id="menu_shipping_bills_arrived" name="订单(站点)" parent="root_menu_shipping_bills"-->
<!--              action="action_shipping_bill_arrived" sequence="30"/>-->

<!--    <menuitem id="menu_shipping_bills_signed" name="订单(签收)" parent="root_menu_shipping_bills"-->
<!--              action="action_shipping_bill_signed" sequence="40"/>-->

<!--    <menuitem id="menu_shipping_state" name="阶段"  parent="menu_shipping_bills_config"-->
<!--              action="action_shipping_state" sequence="49"/>-->

<!--    <menuitem id="menu_shipping_large_parcel" name="大包裹"  parent="menu_shipping_bills"-->
<!--              action="action_shipping_large_parcel" sequence="50"/>-->




</odoo>
