<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_shipping_factor" name="运费参数" parent="sale.menu_sale_general_settings"
        action="action_shipping_factor" sequence="3"/>

    <menuitem id="root_menu_shipping_bills" name="物流订单"/>
    
    <menuitem id="parent_menu_shipping_bills" name="物流订单" parent="root_menu_shipping_bills"/>

    <menuitem id="menu_shipping_bills" name="物流订单" parent="root_menu_shipping_bills"
              action="action_shipping_bill" sequence="10"/>

    <menuitem id="menu_shipping_bills_scan_code" name="扫码入库"  parent="root_menu_shipping_bills"
              action="action_shipping_bill_scan_code" sequence="11"/>

    <menuitem id="menu_shipping_bills_out" name="订单(待出库)" parent="root_menu_shipping_bills"
              action="action_shipping_bill_out" sequence="20"/>

    <menuitem id="menu_shipping_bills_arrived" name="订单(站点)" parent="root_menu_shipping_bills"
              action="action_shipping_bill_arrived" sequence="30"/>

    <menuitem id="menu_shipping_bills_signed" name="订单(签收)" parent="root_menu_shipping_bills"
              action="action_shipping_bill_signed" sequence="40"/>

    <menuitem id="menu_shipping_large_parcel" name="大包裹"  parent="menu_shipping_bills"
              action="action_shipping_large_parcel" sequence="50"/>




</odoo>
