.oe_website_login_container{
    position: relative;
}
.qrcode_login{
    position: absolute;
    top: 50px;
    left: 80%;
    bottom: 50px;
}
.qrcode_login img {
    height: 100%
}
.qrcode_login p {
    text-align: center;
    font-size: 16px;
}
.mobile_tip{display: none;}
@media (max-width: 768px) {
    .qrcode_login{
        position: absolute;
        left: 50%;
        top: 100%;
        margin-left: -60px;
        bottom:auto;
        z-index: 9999999999999;
    }
    .mobile_tip{display: block;}
    .pc_tip{display: none;}

  }